
  <h1>Convert <%= @from_currency %> to <%= @to_currency %> </h1>
  <p><%= @amount %> <%= @from_currency %> equals <%= @conversion_rate %> <%= @to_currency %></p>
  Go <a href="/<%= @from_currency %>">back</a>.
